#slider {
  background: linear-gradient(var(--primary) -90%, var(--branco-gelo));
  margin: 0 auto;
  width: 100%;
  height: 25rem;
  overflow: hidden;
}

#slides {
  width: 400%;
  height: 25rem;
  display: flex;
}

#slides input {
  display: none;
}

#slides .slide {
  width: 25%;
  position: inherit;
}

#slides .slide.first {
  transition: margin-left 0.5s ease-in-out;
}

#manual-navigation {
  position: absolute;
  width: 100%;
  margin-top: -2.5rem;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 0.125rem solid var(--secondary);
  padding: 0.3125rem;
  border-radius: 0.625rem;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:hover {
  background-color: var(--secondary);
}

.manual-btn:not(:last-child) {
  margin-right: 2.5rem;
}

.navigation-auto div {
  border: 0.125rem solid var(--azul-oceanic);
  padding: 0.3125rem;
  border-radius: 0.625rem;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto {
  position: absolute;
  width: 100%;
  margin-top: 22.5rem;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child) {
  margin-right: 2.5rem;
}
