.container_titulo {
  margin: 5rem 0 0 0;
  width: 100%;
  background-color: var(--onPrimary);
  padding: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
}

.livros_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;
  justify-self: unset;
}

.livros_colecao {
  display: flex;
  justify-content: start;
  align-items: center;
}
